.hero-container {
   padding: 1rem;
   width: 100%;
   height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   background: url(/images/new_hero.jpeg) no-repeat 30% 50% fixed;
   background-size: cover;
}

.stream-btn {
    padding: 1rem;
    margin: 1.875rem 0;
    background: #969966;
    font-size: 1.875rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: #f0f0f0;
    letter-spacing: 3px;
    font-family: 'Bodoni Moda', serif;
}

.hero-header-left {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 9rem;
}

.hero-header-right {
    writing-mode: vertical-lr;
    font-size: 9rem;
}

.hero-header-bottom {
    text-align: center;
    margin-top: 2rem;
    /* font-family: 'Anton', sans-serif; */
    font-size: 9rem;
    font-weight: 800;
}


.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image {
    width: 30%;
    border-radius: 7px;
    box-shadow: -25px 30px 25px rgba( 0 0 0 / 30%);
    cursor: pointer;
    transform: rotate(-4deg);
    transition: transform 0.5s ease;
}

.hero-image:hover {
    transform: rotate(4deg);
}

@media (max-width: 1800px) {
    .hero-header-right {
        font-size: 5rem;
    }

    .hero-header-left {
        font-size: 5rem;
    }

    .hero-header-bottom {
        font-size: 5rem;
    }
}

@media (max-width: 1350px) {
    .hero-container {
        background-attachment: scroll;
    }

    .hero-header-right {
        font-size: 3.5rem;
    }

    .hero-header-left {
        font-size: 3.5rem;
    }

    .hero-header-bottom {
        font-size: 3.5rem;
    }

    .stream-btn {
        font-size: 1.375rem;
        letter-spacing: 2px;
    }

    .hero-image {
        width: 50%;
    }
}

@media (max-width: 970px) {
    .hero-header-right {
        font-size: 2.5rem;
    }

    .hero-header-left {
        font-size: 2.5rem;
    }

    .hero-header-bottom {
        /* margin-left: 2rem; */
        font-size: 2.5rem;
    }

    /* .hero-image {
        width: 95%;
        background-color: lch(50 150 40);
    } */

    
}

@media (max-width: 700px) {
    .hero-image {
        margin-top: 9rem;
    }
    .hero-header-right {
        font-size: 1.875rem;
    }

    .hero-header-left {
        font-size: 1.875rem;
    }

    .hero-header-bottom {
        /* margin-left: 2rem; */
        margin-top: 0;
        font-size: 1.875rem;
    }

    .hero-image {
        width: 83%;
        background-color: lch(50 150 40);
    }

    
}