.marquee-container {
    /* background-color: aqua; */
    padding: 100px 0 100px 0;
    border-top: 1px solid #0f0f0f;
    border-bottom: 1px solid #0f0f0f;
    font-size: 8rem;
    font-weight: 200;
}

@media (max-width: 1200px) {
    .marquee-container{
        font-size: 5rem;
        padding: 75px 0 75px 0;
    }
}

@media (max-width: 650px) {
    .marquee-container{
        font-size: 3rem;
        padding: 50px 0 50px 0;
    }
}