.music-section {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    /* max-width: 1800px; */
    width: 100%;
    height: 100vh;
    background: url(/images/test-media.jpg) no-repeat 20% 50% fixed;
    background-size: cover;
}

.sound-cloud {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.music-header h1 {
    font-size: 5.5rem;
}

.music-header h2 {
    font-size: 2.5rem;
}

.music-subheader {
    margin-top: 2rem;
}

.social-media {
    margin-top: 2rem;
    font-size: 5rem;
}

/* .facebook {
    color: 	#1877F2;
}

.spotify {
    color: 	#1DB954;
}

.apple {
    color: inherit;
}                                                                                                                                                                                                       */

/* .youtube {
    color: #FF0000;
} */

/* .instagram {
    color: #c13584;
} */

.social-link {
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    rotate: 0deg;

    transition: rotate .2s ease-in-out;
}

.social-link:hover {
    rotate: 15deg;
}

@media (max-width: 1350px) {

    .music-section {
        height: 100%;
    }
    .music-header h1 {
        font-size: 4rem;
    }
    
    .music-header h2 {
        font-size: 1.875rem;
        text-align: center;
    }

    .social-media {
        text-align: center;
    }
}

@media (max-width: 1350px) {
    .music-section {
        /* background-size: 1000px; */
        background-attachment: scroll;
    }
}

@media (max-width: 800px) {
    .music-header h1 {
        font-size: 2.375rem;
        margin-top: 2rem;
        text-align: center;
    }
    
    .music-header h2 {
        font-size: 1.375rem;
    }

    .music-subheader {
        margin-top: 1rem;
    }

    .social-media {
        margin-top: 2.5rem;
        font-size: 3rem;
    }

    .social-link {
        margin-left: .5rem;
        margin-right: .5rem;
        cursor: pointer;
    }
}