.social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    font-size: 1.25rem;
    bottom: 0;
    left: 0;
}

.social-link:hover {
    rotate: 15deg;
}

.social-link {
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    rotate: 0deg;

    transition: rotate .2s ease-in-out;
}

.facebook {
    color: 	#f0f0f0;
    background-color: #0f0f0f;
}

.spotify {
    color: #f0f0f0;
    background-color: #1DB954;
    padding: 5px;
    border-radius: 15px;
}

.apple-link {
    color: inherit;
}

.apple {
    background-color: #0f0f0f;
    padding: 6px 8px;
    border-radius: 15px;
}

.youtube {
    color: #f0f0f0;
    background-color: #FF0000;
    padding: 5px 4px;
    border-radius: 12px;
}

.instagram {
    color: #f0f0f0;
    background-color: #c13584;
    padding: 5px 6px;
    border-radius: 13px;
}

