/* CSS for Navigation component */

.nav_bar {
    background-color: #FFFFF9;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
}

.nav_bar {
    position: sticky;
    top: 0;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem 0 1rem;
}

.logo{
    color: #0F0F0F;
    font-size: 1.375rem;
    font-weight: 600;
}

.menu_items {
    display: flex;
    gap: 1rem;
}

.menu {
    display: flex;
    padding:0;
    margin: 0;
}

.menu > li, a {
    list-style: none;
    text-decoration: none;
    margin-right: 8px;
    color: #0F0F0F;
    font-size: 1.2rem;
    font-weight: 500;
}

/* CHANGE LATER WHEN MOBILE */
/* TODO FOR GRANT */

.hamburger_container{
    display: none;
}
.hamburger {
    vertical-align: bottom;
    margin-bottom: 2px;
    cursor: pointer;
}

span > img {
    display: inline-block;
    vertical-align:middle;
    margin-bottom: 2px;
    cursor: pointer;
}

@media (max-width: 700px) {
    .menu {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
    }

    .visible {
        visibility: visible;
        opacity: 1;
        transition: opacity 2s ease-in-out;
    }

    .hamburger_container {
        display: block;
        z-index: 1;
    }

    .logo{
        z-index: 1;
    }

    .menu_items_mobile {
        z-index: 0;
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: #39B5E0;
        width: 0%;
        transition: width 0.5s ease;
    }

    .active {
        width: 80%;
        transition: width 0.5s ease;
    }

    .menu {
        flex-direction: column;
        margin: 60px;
    }

    .menu > li {
        margin-bottom: 80px;
        text-align: center;
    }

    .menu > li > a {
        font-size: 2rem;
        color: #0F0F0F;
        letter-spacing: 8px;
    }
}