/* CSS for Navigation component */
    /* background-color: #FFFFF9; */
        /* background-color: #FFFFF9; */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

.nav_bar {
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
}

.nav_container {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0 1rem 0 1rem;
}

.logo{
    cursor: pointer;
}

.logo a {
    text-decoration: none;
    font-size: 3rem;
    color: #FFFFF9;
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu_items {
    display: flex;
    gap: 1rem;
}

.menu {
    display: flex;
    padding:0;
    margin: 0;
}

.menu > li, .nav-link {
    list-style: none;
    text-decoration: none;
    margin-right: 8px;
    color: #0F0F0F;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Bodoni Moda', serif;
}

.nav-link {
    position: relative;
    list-style: none;
    text-decoration: none;
    margin-right: 8px;
    color: #0f0f0f;
    font-size: 1.2rem;
    font-weight: 500;


    /* font-size: 1.8rem; */
    /* letter-spacing: 4px; */
}

.nav-link:hover {
    color: #000;
}

.nav-link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
}

.nav-link:hover::before {
    transform: scaleX(1);
}
/* CHANGE LATER WHEN MOBILE */
/* TODO FOR GRANT */

.hamburger_container{
    display: none;
}
.hamburger {
    vertical-align: bottom;
    margin-bottom: 2px;
    cursor: pointer;
}

span > img {
    display: inline-block;
    width: 25px;
    vertical-align:middle;
    margin-bottom: 2px;
    cursor: pointer;
}


/* Mobile viewport styles */

.menu {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.hamburger_container {
    display: block;
    z-index: 1;
}

.nav-link {
    color: #e9e9e9;
}

.nav-link::before {
    background-color: #39B5E0;
}

.nav-link:hover {
    color: #39B5E0;
}

.logo{
    z-index: 1;
}

.menu_items_mobile {
    z-index: 0;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* background-color: #39B5E0; */
    background: url(/images/nav.jpeg) no-repeat center center;
    /* -webkit-background: url('/images/Ryan.jpg') no-repeat center center; */
    background-size: cover;
    /* -webkit-background-size: cover; */
    width: 0%;
    transition: width 0.5s ease;
}

.active {
    width: 40%;
    transition: width 0.5s ease;
}

.menu {
    flex-direction: column;
}

.menu > li {
    margin-bottom: 60px;
    text-align: center;
}

.nav-link {    
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: 600;
}

@media (max-width: 900px) {
    .active {
        width: 70%;
        transition: width 0.5s ease;
    }


    .nav-link {    
        font-size: 2rem;
        letter-spacing: 4px;
        font-weight: 600;
    }
}

@media (max-width: 700px) {
    .nav-link {
        font-size: 1.5rem;
    }
}

/* @media (max-width: 700px) {
    .menu {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.1s ease-in-out;
    }

    .visible {
        visibility: visible;
        opacity: 1;
        transition: opacity 1.5s ease-in-out;
    }

    .hamburger_container {
        display: block;
        z-index: 1;
    }

    .nav-link {
        color: #e9e9e9;
    }

    .nav-link::before {
        background-color: #39B5E0;
    }
    
    .nav-link:hover {
        color: #39B5E0;
    }

    .logo{
        z-index: 1;
    }

    .menu_items_mobile {
        z-index: 0;
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        justify-content: center;
        align-items: center;
        height: 100%;
        background: url('/images/Ryan.jpg') no-repeat center center;
        background-size: cover;
        width: 0%;
        transition: width 0.5s ease;
    }

    .active {
        width: 70%;
        transition: width 0.5s ease;
    }

    .menu {
        flex-direction: column;
    }

    .menu > li {
        margin-bottom: 60px;
        text-align: center;
    }

    .nav-link {    
        font-size: 2rem;
        letter-spacing: 4px;
        font-weight: 600;
    }
} */